.wrapper{
    display: grid;
    grid-template-areas: 
    'nav nav nav'
    'aside1 main aside2'
    'aside1 main aside2'
    /* 'section section section' */
    'footer footer footer'
    ;
    /* height: 100vh; */
    grid-template-rows: 1fr 2fr 3fr;
    
}

nav{
    grid-area: nav ;
    background: blue;
}
.aside1{
    grid-area: aside1;
    background: orange;
}
main{
    grid-area: main;
    background: gold;
}
.aside2{
    grid-area: aside2;
    background: red;
}
section{
    grid-area: section;
    background: yellow;
}
footer{
    grid-area: footer;
    background: rgb(46, 46, 2);
}